<mat-accordion>
  <mat-expansion-panel hideToggle="true" [hidden]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Painel de gerenciamento
      </mat-panel-title>
      <mat-panel-description>
        Dados do usuário
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button (click)="toggleFormAction()">{{buttonFormActionText()}}</button>
    <app-cadastro-pessoas [nrUsr]="nrUsr" [tpAcao]="tpAcao" ></app-cadastro-pessoas>
  </mat-expansion-panel>
</mat-accordion>