<mat-toolbar color="primary">
    <img mat-card-sm-image src="https://static.wixstatic.com/media/72e2ba_4852b5b07b1c4219adf379c6d8dbf92b~mv2.png/v1/crop/x_0,y_84,w_486,h_318/fill/w_548,h_360,al_c,lg_1,q_85,enc_auto/CliniLog_logo.png">
    <div>
        <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="home_icon" fontIcon="home" routerLink="/inicio"></mat-icon>
        </button>
    </div>
    <div>
        <button mat-button [matMenuTriggerFor]="menu" class="navigation-items">Menu</button>
        <mat-menu #menu class="navigation-items">
            <button mat-menu-item routerLink="pessoas">Módulo de Pessoas</button>
            <button mat-menu-item routerLink="produtos">Módulo de Produtos</button>
        </mat-menu>
    </div>
    <div id="userMenu">
        <button mat-button [matMenuTriggerFor]="userMenu" class="navigation-items">Usuario</button>
        <mat-menu #userMenu>
            <menu mat-menu-item routerLink="profile">Perfil</menu>
            <menu mat-menu-item>Configurações</menu>
            <menu mat-menu-item (click)="logout()">Sair</menu>
        </mat-menu>
    </div>
</mat-toolbar>