main {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgray;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    height: 50px;
}

mat-card-sm-image{
    size: auto;
}


.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
}