<div [formGroup]="batchForm">
    <mat-form-field>
        <input formControlName="lote" matInput placeholder="Lote">
    </mat-form-field>
    <mat-form-field>
        <input formControlName="validade" matInput placeholder="Data de Validade">
    </mat-form-field>
    <ng-container *ngIf="isNovo()">
        <mat-form-field>
            <input formControlName="qtd_inicial" matInput placeholder="Quantidade Inicial">
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="!isNovo()">
        <mat-form-field >
            <input formControlName="qtd_disponivel" matInput placeholder="Quantidade Disponível">
        </mat-form-field>
    </ng-container>
</div>