<div>
    <small>{{batch.id}}</small>
    <mat-form-field>
        <input [(ngModel)]="batch.lote" matInput placeholder="lote">
        <mat-icon matSuffix>icon</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="batch.validade" matInput placeholder="validade">
        <mat-icon matSuffix>icon</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="batch.qtd_inicial" matInput placeholder="qtd_inicial">
        <mat-icon matSuffix>icon</mat-icon>
    </mat-form-field>
</div>