<mat-list>
    <mat-list-item>Dados do Produto</mat-list-item>
<form [formGroup]="productDTOForm">
    <mat-form-field>
        <input formControlName="product_descricao"     matInput name="productDesc"    placeholder="Descrição"            required >
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tipo de Produto </mat-label>
            <mat-select formControlName="tipo_produto" name="product.type" >
                <mat-option value="medicamento">Medicamento</mat-option>
                <mat-option value="insumo">Insumo</mat-option>
            </mat-select>
    </mat-form-field>
<ng-container *ngIf="productDTOForm.get('tipo_produto')?.value == 'medicamento'">
    <mat-divider></mat-divider>
    <mat-list-item>Dados do Medicamento</mat-list-item>
        <mat-form-field>
            <input formControlName="med_principio" matInput name="med.principio" placeholder="Principio Ativo" required>
        </mat-form-field>
</ng-container>
</form>
</mat-list>
<button mat-raised-button color="primary" (click)="fazerCadastroProdutos()">Salvar</button>